.filter-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 25px 15px 25px;
  font-size: large;
  .location{
    color: #000080;
    font-weight: bold;
  }
  .filter-card {
   
    .form-input {
      margin-right: 8px;  
    }
    .form-button {
      position: relative;
      bottom: 10px;
  }
  }
}

