.filter-card {
//   border: 1px solid red;
  margin: 10px 25px 15px 25px;
  .form-input {
    margin-right: 8px;  
    // margin-top: 8px;
  }
  .form-button {
    position: relative;
    bottom: 10px;
}
}
